*{
  text-align: center;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 3px;
  min-width: 5px;
  max-width: 10px;
  }
  
.ingredients, .etapes{
  display: inline;
  }

h1{
  font-family: cambria;
  font-style: italic;
  color: #E82C0C;
  }
  
h2{
  font-family: cambria;
  color: #E8521F;
  }

h3{
  font-family: cambria;
  color: #E8521F;
  }
