*{
  text-align: center;
  border:none;
  /*border: 1px solid rgba(0,0,0,0.3);
  border-style: dotted;*/
  padding: 1px 1px;
  min-width: 200px;
  max-width: 500px;
  }

.ingredients, .etapes{
  display: inline-block;
  }

h1{
  font-family: cambria;
  font-style: italic;
  color: #E82C0C;
  }
  
h2{
  font-family: cambria;
  color: #E8521F;
  }

h3{
  font-family: cambria;
  color: #E8521F;
  }
