*{
  text-align: left;
  border-style:none;  
  /*border: 1px solid rgba(0,0,0,0.3);
  border-style: dotted;*/
  padding: 1px 5px;
  min-width: 200px;
  max-width: 600px;
  }

.ingredients, .etapes{
  display: inline-block;
  marging-left: 30px;
  }

h1{
  font-family: 'Bubbler One', sans-serif;
  font-style: italic;
  color: #131572;
  text-align: center;
  }
  
h2{
  font-family: 'Bubbler One', sans-serif;
  color: #E8521F;
  }

h3{
  font-family: 'Bubbler One', sans-serif;
  color: #E8521F;
  }

.image{
  border-radius: 100%;
  }

.image entete
{
  border-radius: 0px;
  display: inline-block;
  }
